

body {
    background: #fff url(../img/layout/degradado-superior.png) no-repeat center top;
    background-size: contain;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
/* elimina el padding de las columnas de bootstrap */
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
h1, h2, h3 {
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
}
h3 {
    color: #009FDF;
}
.fondo-gris {
    background-color: #F7F7F7;
}


/*! Cabecera */
    #cabecera {
        padding: 10px 0 10px 0;
        position: absolute;
        z-index: 999;
        width: 100%;
        top: 7px;
    }
    #idioma {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 1000;
    }
    #idioma p {
        font-size: 12px;
        margin-top: 15px;
    }

    #logo {
        float: left;
    }
    #datos-cliente {
        float: left;
    }
    #datos-cliente p {
        font-size:    13px;
        margin-top:   30px;
        margin-left:  50px;
        padding-left: 30px;
        border-left:  1px solid #686868;
    }

/*! Menú */
    #menu {
        float: right;
    }
    #menu ul {
        margin: 70px 0 0 0;
        padding: 0;
        float: right;
    }
    #menu ul li {
        display: inline-block;
        margin-left: 20px;
        padding-bottom: 20px;
    }
    #menu ul li a {
        color: #686868;
        border-bottom: 2px solid transparent;
    }
    body.home #menu ul li a {
        color: white;
    }
    #menu ul li.desconectar a {
        border-bottom: 1px solid #ccc;
        color: white;
    }
    #menu ul li.desplegable a {
        background: url(../img/iconos/arrow_down.png) no-repeat right center;
    }
    #menu ul li.desplegable li a {
        background-image: none;
    }
    #menu ul li.current a,
    #menu ul li a:hover {
        border-bottom: 2px solid #009FDF;
        text-decoration: none;
    }
    body.home #menu ul li.current a,
    body.home #menu ul li a:hover {
        border-bottom: 2px solid white;
        text-decoration: none;
    }
    #menu ul ul {
        display: none;
    }
    #menu ul li:hover ul,
    #menu ul li.current ul {
        display: block;
        position: absolute;
        top: 0;
        margin-top: 120px;
        left: 0;
        background: #777;
        width: 100%;
        text-align: center;
        box-shadow: 0px 1px 9px rgb(120, 120, 120);
        box-shadow: 0px 1px 9px rgba(120, 120, 120, .6);
        
    }
    #menu ul ul li {
        display: inline-block;
        text-align: center;
        padding-bottom: 0;
    }

    #menu ul ul li a {
        border-bottom: none !important;
        color: white;
        display: block;
        padding: 10px;
    }
    #menu ul ul li.current a,
    #menu ul ul li a:hover {
        background: #333;
        border-bottom: none;
    }
    #control-menu-escritorio {
        border: 2px solid white;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        -webkit-border-radius: 	20px;
        -moz-border-radius: 	20px;
        -o-border-radius:		20px;
        border-radius: 			20px;
        z-index: 9999;
        cursor: pointer;
    }
    #control-menu-escritorio .linea {
        display: block;
        background: white;
        width:  70%;
        height: 2px;
        margin: 0 auto 4px auto;
    }
    #control-menu-escritorio .linea:first-child {
        margin-top: 11px;
    }
    body.home #menu {
        display: none;
    }




/*! Pie */
    #pie {
        font-size: 13px;
        padding-top: 20px;
        color: #999;
        padding: 40px 0;
    }
    #pie p,
    #pie address{
        margin: 0;
        padding: 0;
    }
    #pie a {
        color: #000;
    }

/*! Contenido  */


    #contenido {
        padding-top: 140px;
/*         margin-bottom: 20px; */
    }
    body.home #contenido {
        padding-top: 0;
    }
    #contenido h2 {
        padding: 40px 0;
    }
    
    #contenido p,
    #contenido li {
        font-size: 18px;
        font-weight: lighter;
    }
    #contenido ul {
        padding-left: 25px;
    }
    #contenido .grande {
        font-size: 25px;
    }
   
    #contenido .margen-inferior {
        padding-bottom: 40px;
    }
    #contenido .margen-superior {
        padding-top: 40px;
    }
    
    #contenido #map {
        height: 450px;
        margin-bottom: 20px;
    }


    /*! Slide */
    #contenido.home #slide-home {
        //max-width: 1500px;
        margin: 0 auto;
    }
    #contenido.home #slide-home .slides {
        position: relative;
    }
    #contenido.home #slide-home #bullets {
        position: absolute;
        bottom: 40px;
        z-index: 9999;
        text-align: center;
        width: 100%;
    }
    #contenido.home #slide-home #bullets a {
        display: inline-block;
        width:  16px;
        height: 16px;
        -webkit-border-radius: 	50%;
        -moz-border-radius: 	50%;
        -o-border-radius:		50%;
        border-radius: 			50%;
        background: #555;
        background: rgba(255,255,255, .8);
    }
    #contenido.home #slide-home #bullets .cycle-pager-active a {
        background: #fff;
    }
    #contenido.home #slide-home #bullets span {
        display: none;
    }
    #contenido.home #slide-home .slide {
		height: 690px;
        width: 100%;
        position: relative;
    }
    #contenido.home #slide-home .texto {
        position: absolute;
        width: 40%;
        top: 30%;
    }
        #contenido.home #slide-home .texto {
            background: transparent url(../img/home/fondo-degradado.png) repeat-x 50%;
            padding: 40px 20px;
            text-align: center;
            font-size: 40px;
            font-weight: lighter;
            line-height: 1.1em;
            color: white;
        }
        #contenido.home #slide-home .grande {
            font-size: 60px;
        }
        #contenido.home #slide-home .mini {
            font-size: 20px;   
        }
    #contenido.home #accesos .row {
        margin-left: 0;
        margin-right: 0;
    }
    #contenido.home #accesos p {
        margin-bottom: 0;
    }
    #contenido.home #accesos .texto {
        padding-top: 20px;
        padding-bottom: 20px;
        color: #686868;
        font-size: 20px;
        background: white;
    }
    #contenido.home #accesos .central {
        border-left: 4px solid white;
        border-right: 4px solid white;
    }
    
    
    
    #contenido.viviendas-caracteristicas ul.caracteristicas {
        padding: 2em 0;
        margin: 0;
    }
    #contenido.viviendas-caracteristicas ul.caracteristicas li {
        padding: 20px 0px 20px 70px;
        list-style-type: none;
        color: #009FDF;
        margin: 10px 0;
    }
    #contenido.viviendas-caracteristicas ul.caracteristicas li.caracteristica01{ background: url(../img/iconos/caracteristicas/01.png) no-repeat left center; }
    #contenido.viviendas-caracteristicas ul.caracteristicas li.caracteristica02{ background: url(../img/iconos/caracteristicas/02.png) no-repeat left center; }
    #contenido.viviendas-caracteristicas ul.caracteristicas li.caracteristica03{ background: url(../img/iconos/caracteristicas/03.png) no-repeat left center; }
    #contenido.viviendas-caracteristicas ul.caracteristicas li.caracteristica04{ background: url(../img/iconos/caracteristicas/04.png) no-repeat left center; }
    #contenido.viviendas-caracteristicas ul.caracteristicas li.caracteristica05{ background: url(../img/iconos/caracteristicas/05.png) no-repeat left center; }
    #contenido.viviendas-caracteristicas ul.caracteristicas li.caracteristica06{ background: url(../img/iconos/caracteristicas/06.png) no-repeat left center; }
    #contenido.viviendas-caracteristicas ul.caracteristicas li.caracteristica07{ background: url(../img/iconos/caracteristicas/07.png) no-repeat left center; }
    #contenido.viviendas-caracteristicas ul.caracteristicas li.caracteristica08{ background: url(../img/iconos/caracteristicas/08.png) no-repeat left center; }
    #contenido.viviendas-caracteristicas ul.caracteristicas li.caracteristica09{ background: url(../img/iconos/caracteristicas/09.png) no-repeat left center; }
    #contenido.viviendas-caracteristicas ul.caracteristicas li.caracteristica10{ background: url(../img/iconos/caracteristicas/10.png) no-repeat left center; }
    #contenido.viviendas-caracteristicas ul.caracteristicas li.caracteristica11{ background: url(../img/iconos/caracteristicas/11.png) no-repeat left center; }
    #contenido.viviendas-caracteristicas ul.caracteristicas li.caracteristica12{ background: url(../img/iconos/caracteristicas/12.png) no-repeat left center; }
    #contenido.viviendas-caracteristicas ul.caracteristicas li.caracteristica13{ background: url(../img/iconos/caracteristicas/13.png) no-repeat left center; }
    #contenido.viviendas-caracteristicas ul.caracteristicas li.caracteristica14{ background: url(../img/iconos/caracteristicas/14.png) no-repeat left center; }
    #contenido.viviendas-caracteristicas ul.caracteristicas li.caracteristica15{ background: url(../img/iconos/caracteristicas/15.png) no-repeat left center; }
	
    #contenido.viviendas-caracteristicas .fondo-gris {
        padding: 30px 0;
    }
    
    
    
    #contenido.ubicacion ul.caracteristicas {
        padding: 2em 0;
        margin: 0;
    }
    #contenido.ubicacion ul.zonas li {
        padding: 20px 0px 20px 70px;
        list-style-type: none;
        color: #009FDF;
        margin: 10px 0;
    }
    #contenido.ubicacion ul.zonas li.deporte{ background: url(../img/iconos/ubicacion/deporte.png) no-repeat left center; }
    #contenido.ubicacion ul.zonas li.salud{ background: url(../img/iconos/ubicacion/salud.png) no-repeat left center; }
    #contenido.ubicacion ul.zonas li.educacion{ background: url(../img/iconos/ubicacion/educacion.png) no-repeat left center; }
    #contenido.ubicacion ul.zonas li.comercial{ background: url(../img/iconos/ubicacion/comercial.png) no-repeat left center; }
    #contenido.ubicacion ul.zonas li.ciudad{ background: url(../img/iconos/ubicacion/ciudad.png) no-repeat left center; }
    #contenido.ubicacion ul.zonas li.verde{ background: url(../img/iconos/ubicacion/verde.png) no-repeat left center; }
    
    
    
    #contenido.viviendas-tu-vivienda .responsive {
        width: 100%;
        height: auto;
    } 
    #contenido.viviendas-tu-vivienda #infografia { 
        margin-bottom: 20px;
        display: block;
        position: relative;
    }
    #contenido.viviendas-tu-vivienda #infografia g#bloque-1, 
    #contenido.viviendas-tu-vivienda #infografia g#bloque-2, 
    #contenido.viviendas-tu-vivienda #infografia g#bloque-3, 
    #contenido.viviendas-tu-vivienda #infografia g#bloque-4,
    #contenido.viviendas-tu-vivienda #infografia g#bloque-5 { 
        cursor: pointer;
        font-family: 'Raleway', sans-serif;
        border: 1px solid black;
    }
    #contenido.viviendas-tu-vivienda #infografia #icon-bloque-1 { 
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
    }
    #contenido.viviendas-tu-vivienda #infografia #icon-bloque-2 { 
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
    #contenido.viviendas-tu-vivienda #infografia #icon-bloque-3 { 
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
    #contenido.viviendas-tu-vivienda #infografia #icon-bloque-4 { 
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
    #contenido.viviendas-tu-vivienda #infografia #icon-bloque-5 { 
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
    #contenido.viviendas-tu-vivienda p.empuja { 
        margin-top: 15px;
    }
    #contenido.viviendas-tu-vivienda .nav-tabs { 
        margin-top: 20px;
        margin-bottom: 10px;
        border-bottom: 0;
    }
    
    
    #contenido.viviendas-tu-vivienda .nav-tabs > li, 
    #contenido.viviendas-tu-vivienda .nav-pills > li {
        float:none;
        display:inline-block;
        *display:inline; 
         zoom:1; 
    }
    
    #contenido.viviendas-tu-vivienda .nav-tabs, 
    #contenido.viviendas-tu-vivienda .nav-pills {
        text-align:center;
    }    
    
    
    #contenido.viviendas-tu-vivienda .nav-tabs>li>a { 
        border: none;
        padding: 0;
        margin-right: 20px;
        color: #000;
    }
    #contenido.viviendas-tu-vivienda .nav-tabs>li.active>a { 
        color: #009FDF;
    }
    #contenido.viviendas-tu-vivienda .nav-tabs>li>a:hover {
        background: #fff;
        color: #009FDF;
    }
    #contenido.viviendas-tu-vivienda table {
        width: 100%;
        border-collapse: collapse;
    }
    #contenido.viviendas-tu-vivienda table th {
        background: #686868;
        padding: 8px;
        color: white;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 13px;
    }
    #contenido.viviendas-tu-vivienda table td {
        padding: 8px;   
        font-size: 13px;
    }
    #contenido.viviendas-tu-vivienda table td::odd {
        background: #555;
    }
    #contenido.viviendas-ficha table th {
        background: #bbb;
        color: white;
    }
    #contenido.viviendas-ficha a.plano {
        display: block;
        padding: 15px 0 15px 60px;
        background: url(../img/elige-tu-vivienda/icono-pdf.png) no-repeat left center;
    }
    #contenido.viviendas-ficha a.memoria {
        display: block;
        padding: 15px 0 15px 60px;
        background: url(../img/elige-tu-vivienda/calidades.png) no-repeat left center;
    }
    
    
    #contenido.viviendas-forma-de-pago .kutxabank {
        background: transparent url(../img/forma-de-pago/logo-kutxabank.png) no-repeat left center;
        padding: 30px 0 30px 50px;
    }
    
    
    #contenido.legal h3 {
        color: #777;
        font-weight: bold;
        margin: 30px 0; 
    }
    #contenido.legal h4 {
        color: #777;
        font-weight: normal;
        margin: 30px 0; 
    }
    #contenido.legal p {
        font-size: 15px;
        color: #777;
        font-weight: normal;
    }
    
    
/* La obra hoy */    
    .skillbar {
        font-family: "Raleway";
    	position:relative;
    	display:block;
    	margin-bottom:15px;
    	width:100%;
    	background:#fff;
    	height:35px;
    	border-radius:3px;
    	-moz-border-radius:3px;
    	-webkit-border-radius:3px;
    	-webkit-transition:0.4s linear;
    	-moz-transition:0.4s linear;
    	-ms-transition:0.4s linear;
    	-o-transition:0.4s linear;
    	transition:0.4s linear;
    	-webkit-transition-property:width, background-color;
    	-moz-transition-property:width, background-color;
    	-ms-transition-property:width, background-color;
    	-o-transition-property:width, background-color;
    	transition-property:width, background-color;
    }
    .skillbar:last-child {
        font-weight: bold;
        margin: 30px 0;
    }
    
    .skillbar-title {
    	position:absolute;
    	top:0;
    	left:0;
    	font-size:13px;
    	color:#333;
    	text-transform: uppercase;
    	text-shadow: 0 1px 1px white;
    	-webkit-border-top-left-radius:3px;
    	-webkit-border-bottom-left-radius:4px;
    	-moz-border-radius-topleft:3px;
    	-moz-border-radius-bottomleft:3px;
    	border-top-left-radius:3px;
    	border-bottom-left-radius:3px;
    }
    
    .skillbar-title span {
    	display:block;
    	padding:0 20px;
    	height:35px;
    	line-height:35px;
    	-webkit-border-top-left-radius:3px;
    	-webkit-border-bottom-left-radius:3px;
    	-moz-border-radius-topleft:3px;
    	-moz-border-radius-bottomleft:3px;
    	border-top-left-radius:3px;
    	border-bottom-left-radius:3px;
    }
    
    .skillbar-bar {
    	height:35px;
    	width:0px;
    	background:#7BC5EE;
    	border-radius:3px;
    	-moz-border-radius:3px;
    	-webkit-border-radius:3px;
    	box-shadow: 0px 1px 2px #e3e3e3;
    }
    .skillbar.gris .skillbar-bar {
        background: #B2B2B2;
    }
    
    
    .skill-bar-percent {
    	position:absolute;
    	right:10px;
    	top:0;
    	font-size:25px;
    	font-weight: 300;
    	height:35px;
    	line-height:35px;
    	color:#333;
    	color:rgba(0, 0, 0, 0.4);
    }
    
    #contenido.la-obra-hoy p.fecha {
        font-size: 14px;
    }
    #contenido.la-obra-hoy h3 {
        color: #686868;
        font-weight: bold;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #contenido.la-obra-hoy .lineas {
        border-top: 1px solid #686868;
        border-bottom: 1px solid #686868;
        margin-bottom: 20px;
    }
    #contenido.la-obra-hoy select {
        margin-top: 10px;
    }

        .connected-carousels .stage {
            width: 100%;
            margin: 20px auto;
            position: relative;
        }
        
        
        
        .connected-carousels .navigation-wrapper {
            width: 100%;
        }
        .connected-carousels .navigation {
            margin-left:  15px;
            margin-right: 15px;
            position: relative;
        }
        
        
        .connected-carousels .carousel {
            overflow: hidden;
            position: relative;
        }
        
        .connected-carousels .carousel ul {
            width: 20000em;
            position: relative;
            list-style: none;
            margin: 0;
            padding: 0;
        }
        
        .connected-carousels .carousel li {
            float: left;
        }
        
        
        .connected-carousels .carousel-stage {
            
        }
        
        
        .connected-carousels .carousel-navigation {
            height: 195px;
            width: 100%;
            background: #fff;
        }
        
        .connected-carousels .carousel-navigation li {
            cursor: pointer;
        }
        
        .connected-carousels .carousel-navigation li img {
            display: block;
            border: 5px solid #fff;
        }
        
        .connected-carousels .carousel-navigation li.active img {
            border-color: #ccc;
        }
        
        
        .connected-carousels .prev-stage,
        .connected-carousels .next-stage {
            display: block;
            position: absolute;
            top: 0;
            width: 305px;
            height: 100%;
            color: #fff;
        }
        
        .connected-carousels .prev-stage {
            left: 0;
        }
        
        .connected-carousels .next-stage {
            right: 0;
        }
        
        .connected-carousels .prev-stage.inactive,
        .connected-carousels .next-stage.inactive {
            display: none;
        }
        
        .connected-carousels .prev-stage span,
        .connected-carousels .next-stage span {
            display: none;
            position: absolute;
            top: 45%;
            width: 30px;
            height: 30px;
            text-align: center;
            background: #4E443C;
            color: #fff;
            text-decoration: none;
            text-shadow: 0 0 1px #000;
            font: 24px/27px Arial, sans-serif;
            -webkit-border-radius: 30px;
               -moz-border-radius: 30px;
                    border-radius: 30px;
            -webkit-box-shadow: 0 0 2px #999;
               -moz-box-shadow: 0 0 2px #999;
                    box-shadow: 0 0 2px #999;
        }
        .connected-carousels .prev-stage a,
        .connected-carousels .next-stage a {
            color: white;
        }
        
        .connected-carousels .prev-stage span {
            left: 20px;
        }
        
        .connected-carousels .next-stage span {
            right: 20px;
        }
        
        .connected-carousels .prev-stage:hover span,
        .connected-carousels .next-stage:hover span {
            display: block;
        }
        .connected-carousels .prev-stage span,
        .connected-carousels .next-stage span {
            display: block;
            position: absolute;
            top: 45%;
            width:  45px;
            height: 45px;
            text-align: center;
            background: transparent;
            color: #fff;
        }
        .connected-carousels .prev-stage span {
            background: transparent url(../img/la-obra-hoy/prev.png) no-repeat 50%;
        }
        .connected-carousels .next-stage span {
            background: transparent url(../img/la-obra-hoy/next.png) no-repeat 50%;
        }

        .connected-carousels .prev-navigation,
        .connected-carousels .next-navigation {
            display: block;
            position: absolute;
            width: 30px;
            height: 30px;
            background: #ccc;
            color: #fff;
            text-decoration: none;
            text-shadow: 0 0 1px #000;
            font: 16px/29px Arial, sans-serif;
            -webkit-border-radius: 30px;
               -moz-border-radius: 30px;
                    border-radius: 30px;
            -webkit-box-shadow: 0 0 2px #999;
               -moz-box-shadow: 0 0 2px #999;
                    box-shadow: 0 0 2px #999;
            cursor: pointer;
        }
        .connected-carousels .prev-navigation a,
        .connected-carousels .next-navigation a {
            color: white;
        }
        .connected-carousels .prev-navigation {
            left: -15px;
            top: 85px;
            text-indent: 6px;
        }
        
        .connected-carousels .next-navigation {
            right: -15px;
            top: 85px;
            text-indent: 20px;
        }
        
        .connected-carousels .prev-navigation.inactive,
        .connected-carousels .next-navigation.inactive {
            opacity: .5;
            cursor: default;
        }



        /* FIN LA OBRA HOY --------- */



    #contenido.area-clientes #personalizacion h3 {
        background: #009FDF;
        color: white;
        padding: 5px;
    }
    #contenido.area-clientes #personalizacion h3.transparente {
        color: #009FDF;
        background: transparent;
    }
    #contenido.area-clientes #pasos ul {
        background: #0e6b9a; /* Old browsers */
        margin: 1em 0 0 0;
        padding: 0;
    }
    #contenido.area-clientes #pasos ul li {
        float: left;
        width: 50%;
        margin: 0;
        padding: 6px 0;
        list-style-type: none;
        color: white;
        text-transform: uppercase;
        font-size: 20px;
        text-align: center;
    }
    #contenido.area-clientes #pasos ul li.current {
        font-weight: bold;
    }
    #contenido.area-clientes #pasos ul li {
        background: #999;
    }
    #contenido.area-clientes #pasos ul li.separador-azul {
        background: #0e6b9a url(../img/area-clientes/separador-pasos-gris.png) no-repeat right center;
    }
    #contenido.area-clientes #pasos ul li.separador-gris {
        background: #999 url(../img/area-clientes/separador-pasos-azul.png) no-repeat right center;
    }

    #contenido.area-clientes #pasos ul li.fondo-azul {
        background-color: #0e6b9a;
    }


#contenido.area-clientes .linea_baja {
    border-bottom: 2px solid #eee;
    margin-bottom: 20px;
}
  
#contenido.area-clientes form#personalizacion h1 {
    background: #329FE3;
    color: white;
    font-weight: normal;
    font-size: 15px;
    padding: 5px;
}

#contenido.area-clientes form#personalizacion dl {
    clear: both;
    padding: 0;
}
#contenido.area-clientes form#personalizacion dl * {
    margin: 0;
    padding: 0;
}
#contenido.area-clientes form#personalizacion dl dt {
    clear: both;
    display: block;
    float: left;
    width: 75%;
    padding: 5px 0;
}
#contenido.area-clientes form#personalizacion dl dt label {
    font-style: italic;
    font-weight: bold;
}   
#contenido.area-clientes form#personalizacion dl dd {
    display: block;
    float: left;
    width: 25%;
    padding: 5px 0;
    text-align: right;
    font-weight: bold;
}

#contenido.area-clientes form#personalizacion .totales {
    
}
#contenido.area-clientes form#personalizacion .total {
    background: #eee;
    -webkit-border-radius: 	10px;
    -moz-border-radius: 	10px;
    -o-border-radius:		10px;
    border-radius: 			10px;
    padding: 4px 10px;
    margin: 1px 0;
    text-align: right;
    font-weight: bold;
}
#contenido.area-clientes form#personalizacion .total.oscuro {
    background: #999;
    -webkit-border-radius: 	10px;
    -moz-border-radius: 	10px;
    -o-border-radius:		10px;
    border-radius: 			10px;
    padding: 4px 10px;
    margin: 0;
}
#contenido.area-clientes form#personalizacion #aviso-reunion .fondo {
    background: #F2F2F2;
    padding: 20px;
    -webkit-border-radius: 	10px;
    -moz-border-radius: 	10px;
    -o-border-radius:		10px;
    border-radius: 			10px;
    margin: 2em 0;
    color: #555;
}
#contenido.area-clientes form#personalizacion #aviso-reunion .grid_8 p {
    margin: 0;
    text-align: center;
}











    
    
/* 
 * boxer v3.3.0 - 2014-10-28 
 * a jquery plugin for displaying images, videos or content in a modal overlay. part of the formstone library. 
 * http://formstone.it/boxer/ 
 * 
 * copyright 2014 ben plum; mit licensed 
 */

/*!
 * Bootstrap-select v1.6.5 (http://silviomoreto.github.io/bootstrap-select)
 *
 * Copyright 2013-2015 bootstrap-select
 * Licensed under MIT (https://github.com/silviomoreto/bootstrap-select/blob/master/LICENSE)
 */
.bootstrap-select {
/* 	width:220px \0; */
}
.bootstrap-select .btn-default,
.bootstrap-select .btn-default.active, .btn-default:active, 
.bootstrap-select .open>.dropdown-toggle.btn-default,
.bootstrap-select .open>.dropdown-toggle.btn-default:hover,
.bootstrap-select .dropdown-menu {
    background-color: #337ab7;
    border-color: #337ab7;
    color: white !important;
    border-radius: 0px;
    margin-top: 5px;
}
.bootstrap-select .dropdown-menu>li>a {
    color: white;
}
.bootstrap-select .dropdown-menu>li.selected>a,
.bootstrap-select .dropdown-menu>li>a:hover {
    color: #000;
}
.bootstrap-select .dropdown-menu li {
    border-bottom: none;
}
.bootstrap-select .bootstrap-select.btn-group:not(.input-group-btn) {
    display: inline;
    float: none;
}

.bootstrap-select>.dropdown-toggle {
	width:100%;
	
}

.error .bootstrap-select .dropdown-toggle,
.has-error .bootstrap-select .dropdown-toggle {
	border-color:#b94a48;
}

.bootstrap-select.fit-width {
	width:auto!important;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
/* 	width:220px; */
}

.bootstrap-select .dropdown-toggle:focus {
	outline:thin dotted #333!important;
	outline:5px auto -webkit-focus-ring-color!important;
	outline-offset:-2px;
}

.bootstrap-select.form-control {
	margin-bottom:0;
	padding:0;
	border:none;
}

.bootstrap-select.form-control:not([class*=col-]) {
	width:100%;
}

.bootstrap-select.form-control.input-group-btn {
	z-index:auto;
}

.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*=col-] {
	float:none;
	display:inline-block;
	margin-left:0;
}

.bootstrap-select.btn-group.dropdown-menu-right,
.bootstrap-select.btn-group[class*=col-].dropdown-menu-right,
.row .bootstrap-select.btn-group[class*=col-].dropdown-menu-right {
	float:right;
}

.form-group .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group,
.form-inline .bootstrap-select.btn-group {
	margin-bottom:0;
}

.form-group-lg .bootstrap-select.btn-group.form-control,
.form-group-sm .bootstrap-select.btn-group.form-control {
	padding:0;
}

.form-inline .bootstrap-select.btn-group .form-control {
	width:100%;
}

.bootstrap-select.btn-group>.disabled {
	cursor:not-allowed;
}

.bootstrap-select.btn-group>.disabled:focus {
	outline:0!important;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	display:inline-block;
	overflow:hidden;
	width:100%;
	text-align:left;
	margin-right: 20px;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
	position:absolute;
	top:50%;
	right:12px;
	margin-top:-2px;
	vertical-align:middle;
/* 	display: none; */
}

.bootstrap-select.btn-group[class*=col-] .dropdown-toggle {
	width:100%;
}

.bootstrap-select.btn-group .dropdown-menu {
	min-width:100%;
	z-index:1035;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.bootstrap-select.btn-group .dropdown-menu.inner {
	position:static;
	float:none;
	border:0;
	padding:0;
	margin:0;
	border-radius:0;
	-webkit-box-shadow:none;
	box-shadow:none;
}

.bootstrap-select.btn-group .dropdown-menu ul {
    padding-left: 0 !important;
}
.bootstrap-select.btn-group .dropdown-menu li {
	position:relative;
}

.bootstrap-select.btn-group .dropdown-menu li.active small {
	color:#fff;
}

.bootstrap-select.btn-group .dropdown-menu li.disabled a {
	cursor:not-allowed;
}

.bootstrap-select.btn-group .dropdown-menu li a {
	cursor:pointer;
}

.bootstrap-select.btn-group .dropdown-menu li a.opt {
	position:relative;
	padding-left:2.25em;
}

.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
	display:none;
}

.bootstrap-select.btn-group .dropdown-menu li a span.text {
	display:inline-block;
}

.bootstrap-select.btn-group .dropdown-menu li small {
	padding-left:.5em;
}

.bootstrap-select.btn-group .dropdown-menu .notify {
	position:absolute;
	bottom:5px;
	width:96%;
	margin:0 2%;
	min-height:26px;
	padding:3px 5px;
	background:#f5f5f5;
	border:1px solid #e3e3e3;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
	pointer-events:none;
	opacity:.9;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.bootstrap-select.btn-group .no-results {
	padding:3px;
	background:#f5f5f5;
	margin:0 5px;
}

.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
	position:static;
}

.bootstrap-select.btn-group.fit-width .dropdown-toggle .caret {
	position:static;
	top:auto;
	margin-top:-1px;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
	position:absolute;
	display:inline-block;
	right:15px;
	margin-top:5px;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
	margin-right:34px;
}

.bootstrap-select.show-menu-arrow.open>.dropdown-toggle {
	z-index:1036;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
	content:'';
	border-left:7px solid transparent;
	border-right:7px solid transparent;
	border-bottom:7px solid rgba(204, 204, 204, .2);
	position:absolute;
	bottom:-4px;
	left:9px;
	display:none;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
	content:'';
	border-left:6px solid transparent;
	border-right:6px solid transparent;
	border-bottom:6px solid #fff;
	position:absolute;
	bottom:-4px;
	left:10px;
	display:none;
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
	bottom:auto;
	top:-3px;
	border-top:7px solid rgba(204,204,204,.2);
	border-bottom:0;
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
	bottom:auto;
	top:-3px;
	border-top:6px solid #fff;
	border-bottom:0;
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
	right:12px;
	left:auto;
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
	right:13px;
	left:auto;
}

.bootstrap-select.show-menu-arrow.open>.dropdown-toggle:after,
.bootstrap-select.show-menu-arrow.open>.dropdown-toggle:before {
	display:block;
}

.bs-actionsbox,
.bs-donebutton,
.bs-searchbox {
	padding:4px 8px;
}

.bs-actionsbox {
	float:left;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.bs-actionsbox .btn-group button {
	width:50%;
}

.bs-donebutton {
	float:left;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.bs-donebutton .btn-group button {
	width:100%;
}

.bs-searchbox+.bs-actionsbox {
	padding:0 8px 4px;
}

.bs-searchbox input.form-control {
	margin-bottom:0;
	width:100%;
}

.mobile-device {
	position:absolute!important;
	top:0;
	left:0;
	display:block!important;
	width:100%;
	height:100%!important;
	opacity:0;
}



/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #cabecera .container {
        width: 100%;
    }
    #menu {
        margin-top: 10px;
    }
    #menu ul li {
        margin-left: 10px;
    }
    #menu li:first-child {
        display: none;
    }
    #menu.privada li:first-child {
        display: inline-block;
    }
    #menu li li:first-child {
        display: inline-block;
    }
    #menu li li {
        margin-left: 0px;
    }
    #contenido.home #slide-home .texto {
        position: absolute;
        width: 60%;
        top: 30%;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 760px) {
    #control-menu-movil {
        display: none;
    }
    #cabecera .container {
        margin: 0;
        padding: 0;
    }
    #cabecera #logo {
        margin-left: 10px;   
    }
    #menu {
        width: 100%;
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        z-index: 99999;
    }
    #menu #boton img {
        display: block;
        position: absolute;
        top: 40px;
        right: 10px; 
        cursor: pointer;       
    }
    #menu ul.menu {
        background: rgb(0,97,170);
/*         background: rgba(0,97,170,.9); */
        display: none;
        float: none;
        position: absolute;
        top: 135px;
        margin: 0;
        padding: 0;
        width: 100%;
        z-index: 99999;
    }
    #menu ul li {
        margin: 0;
        padding: 0;
        box-shadow: inset 0px 2px 10px rgba(0, 0, 0, .2);
        border-bottom: 1px solid #ccc;
    }
    #menu ul li a {
        color: white !important;
        text-transform: uppercase;
        border-bottom: 2px solid #555;
        padding: 10px;
        display: block;
    }
    #menu ul ul {
        margin-top: 0;
        background-color: rgb(197,199,199);
/*         background-color: rgba(197,199,199,.8); */
        position: relative;
        float: none;
        display: none;
    }
    #menu ul li.current ul {
        display: block;
    }
    #menu ul li.current a {
        background: rgb(180,180,180);
/*         background: rgba(180,180,180, .9); */
    }
    #menu ul li,
    #menu li:first-child,
    #menu li li:first-child {
        display: block;
        float: none;
        text-align: left;
        margin: 0;
    }
    #menu ul li:hover ul,
    #menu ul li.current ul {
        position: relative;
        background-color: rgb(197,199,199);
/*         background-color: rgba(197,199,199, .9); */
        margin-top: 0;
        box-shadow: none;
    }
    #menu ul ul li,
    #menu ul ul li.current {
        display: block;
        text-align: left;
    }
    #menu ul ul li a {
        text-transform: none;
        background-color: rgb(197,199,199);
/*         background-color: rgba(197,199,199,.9); */
    }
    #menu ul li a:hover,
    #menu ul li.current a,
    #menu ul ul li.current a,
    #menu ul ul li a:hover {
        border-bottom: 2px solid transparent !important;
        font-weight: bold;
    }
    
    #menu ul li.current ul li a {
        font-weight: normal;
        background-color: rgb(197,199,199);
        background-color: rgba(197,199,199,.9);
    }
    #menu ul li.current ul li.current a {
        background-color: rgb(180,180,180);
        background-color: rgba(180,180,180, .9);
    }
    
    #contenido.home #slide-home .slide {
        height: 300px;
    }
    #contenido.home #slide-home .texto {
        position: absolute;
        width: 100%;
        padding: 5% 5% 10% 5%;
        font-size: 20px;
        bottom: 0;
        top: auto;
    }
    
        #contenido.home #slide-home .grande {
            font-size: 20px;
        }
        #contenido.home #slide-home .mini {
            font-size: 20px;   
        }
        
    #contenido #map {
        height: 300px;
        margin-bottom: 20px;
    }
    
    #contenido.viviendas-tu-vivienda p.empuja { 
        margin-top: 0;
        text-align: center !important;
    }
    
    #pie .col-md-2,
    #pie .col-md-4 {
        padding: 30px 0;
    }
    #pie .centrado-xs {
        text-align: center;
    }
    #pie address.centrado-xs {
        width: 80%;
        display: block;
        margin: 20px auto;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 20px;
    }
    #pie .col-md-2.col-xs-6 p,
    #pie .col-md-4.col-xs-6 p {
        padding: 10px;
    }
    
    #datos-cliente {
        float: none;
        clear: both;
    }
    
    #datos-cliente p {
        margin-top:   10px;
        margin-left:  10px;
        padding-left: 0;
        border-left:  none;
    }
    #contenido.area-clientes {
        padding-top: 200px;
    }
    #contenido.area-clientes #pasos ul li.separador-azul {
        background-image: none;
    }
    #contenido.area-clientes #pasos ul li.separador-gris {
        background-image: none;
    }
    
    .navigation-wrapper {
        display: none;
    }
    


}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}

