/* http://www.menucool.com */

/*slider frame*/
#sliderFrame {
    width:1000px; 
    margin: 0 auto; /*remove the "margin:0 auto;" if you want to align the whole slider to the left side*/
    background-color:White; 
    padding-top:0px; 
    border-radius: 6px 6px 0 0;
}      
        

#slider {
    width:1000px;height:500px;/* Make it the same size as your images */
	background:transparent url(loading.gif) no-repeat 50% 50%;
	position:relative;
	margin:0 auto;/*make the image slider center-aligned */
}
#slider img {
	position:absolute;
	border:none;
	visibility:hidden;
}

/* the link style (if slide image is wrapped in a link) */
#slider a.imgLink {
	z-index:2;
	display:none;position:absolute;
	top:0px;left:0px;border:0;padding:0;margin:0;
	width:100%;height:100%;
}

/* Caption styles */
div.mc-caption-bg, div.mc-caption-bg2 {
	position:absolute;
	width:500px;
	height:100px;
	padding:10px;
	right:10px; /* or right: ??px; */
	top:10px;/* or bottom: ??px; */
	z-index:3;
	overflow:hidden;
	font-size:0;
}
div.mc-caption-bg {
	background-color:#cdcdcd; /*Caption background color. Can be set to "background:transparent;", or set to semi-transparent through the sliderOptions.captionOpacity setting in the javascript.*/
	border-radius: 5px;
}
div.mc-caption {
	font:bold 15px/20px Trebuchet MS;
	color:#607C12;
	z-index:4;
	padding:0px;
	text-align:left;
}
div.mc-caption a { 
	color:#66FFFF;
}


/* ------ built-in navigation bullets wrapper that is relative to the #slider ------*/
div.navBulletsWrapper  {
	display:none;
}

/*thumbnails*/
#thumbs
{
	//background:white url(thumbs-bar.gif) repeat-x 0 0;
	background-color: #dddddd;
	//border:0px solid white; text-align:center;
	font-size:0px;
	//line-height:5px;
}
#thumbs .thumb 
{
    width:60px;height:10px;
    cursor:pointer;
    text-align:center;
    //border-left:0px solid #FFF; border-right:0px solid #DDD; 
    
    display:inline-block;
    *display:inline;zoom:1; /*IE Hack*/
}
#thumbs .thumb-on {background-image: url(./active-bg.png);}
#thumbs .thumb img {vertical-align:middle;}


/* --------- Others ------- */
#slider 
{
	transform: translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
}

