html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #FFFFFF;
	//font-family: 'Arvo', serif;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #828387;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 72px;
}

h4 {
	margin: 0px;
	padding: 0px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	color: #607C12;
	font-size: 30px;
}

h5 {
	margin: 0px;
	padding: 0px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	color: #607C12;
	font-size: 30px;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 200%;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

strong {
}

a {
	color: #FF2301;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
	padding-top: 5px;
	padding-right: 35px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

/** WRAPPER */

#wrapper {
}

.container {
	width: 1000px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/** HEADER */

#header {
}

/** LOGO */

#logo {
	height: 100px;
	margin: 0px auto;
	text-transform: uppercase;
	background-color:#FFFFFF;
	//background: url(../images/header-bg.jpg) no-repeat left top;
	border-bottom: 4px solid #FFFFFF;
}

#logo h1 a {
	display: block;
	margin: 0px;
	padding: 0px 10px 0px 0px;
	//letter-spacing: -3px;
	font-size: 48px;
	//color: #002245;
	color: #FFFFFF;
}

#logo p {
	margin: -10px 0px 0px 5px;
	padding: 0px;
	font-size: 12px;
}

#logo a {
	text-decoration: none;
	color: #002245;

}

/** MENU */

#menu {
	height: 50px;
	margin: 0px auto;
	background: url(../images/menu-bg.jpg) no-repeat left top;
	
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	display: inline-block;
	border-left: 1px solid #FFFFFF;
}


#menu a {
	display: block;
	height: 50px;
	margin: 0px;
	padding: 0px 30px;
	line-height: 50px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	color: #FFFFFF;
	font-weight:bold;
}

#menu a:hover {
	background: #91A94E;
	text-decoration: none;
	color: #FFFFFF;
}

#menu .active a {
	background: #91A94E;
	color: #FFFFFF;
}

/** PAGE */

#page {
	width: 1000px;
	//margin: 0px auto 0px auto;
	margin: auto;
	padding: 30px 0px 10px 0px;
}

/** CONTENT */

#content {
	float: left;
	width: 970px;
	padding-right: 30px;
}

/** SIDEBAR */

#sidebar {
	float: right;
	width: 300px;
}

#sidebar h2 {
	padding: 0px 0px 20px 0px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 24px;
	color: #363837;
}

#sidebar li ul {
	margin-bottom: 40px;
	padding: 0px;
}

#sidebar li li {
	padding: 10px 0px;
	border-top: 1px solid #D0CFD0;
}

#sidebar p {
	margin: 0px 0px 20px 20px;
}

#sidebar .active {
	border-top: none;
}

/** POST */

.post {
}

.post .title {
	margin: 0px;
	padding: 20px 0px;
	letter-spacing: -1px;
	color: #363837;
}

.post .title a {
	border: none;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 30px;
	color: #363837;
}

.post .meta {
	display: block;
	margin-top: -15px;
	padding: 5px 0px;
	text-align: left;
	font-size: 11px;
}

.post .meta a {
}

.post .entry {
	text-align: justify;
	padding: 10px 0px 10px 0px;
}

/** FOOTER */

#footer {
	width: 1000px;
	margin: 0px auto;
	//margin: 400px auto 0px auto;
	//border-top: 4px solid #D0CFD0;
	background-color: #333333;
	border-top: 4px solid #FFFFFF;
	color: #ffffff;
	
}

#footer p {
	margin: 0px;
	padding: 5px 0px 5px 0px;
	text-align: right;
}

#footer a {
	color: #ffffff;
	text-align: right;
	margin: 5px;
	padding: 5px 0px 5px 0px;
	text-decoration: none;
}

#banner {
	height: 100px;

}

.divider {
	border-bottom: 1px solid #D0CFD0;
}


